 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 529px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Albert Sans";
  margin: 52px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 409px;
  background-image: url("images/technology-human-touch-background-modern-remake-creation-adamcopy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 454px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 315px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 34px auto 0 138px;
  padding: 13px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 13px -13px 0 74px;
}

.u-section-2 .u-text-2 {
  margin: 23px 0 0 59px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 34px auto 0 138px;
  padding: 13px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 13px -13px 0 74px;
}

.u-section-2 .u-text-4 {
  margin: 23px 0 0 59px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 34px auto 0 138px;
  padding: 13px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 13px -13px 0 74px;
}

.u-section-2 .u-text-6 {
  margin: 23px 0 0 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 77px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -154px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -154px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-icon-1 {
    margin-top: 78px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-icon-1 {
    margin-left: 87px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 87px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 87px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 514px;
}

.u-section-3 .u-slider-1 {
  min-height: 431px;
  width: 893px;
  margin: 42px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 61px 349px 0 7px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -46px 61px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-family: "Albert Sans";
  margin: 45px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 54px 661px 0 0;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -46px 56px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-family: "Albert Sans";
  margin: 56px -9px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 40px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 66px 42px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  margin: -30px 172px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 74px auto 0 205px;
}

.u-section-3 .u-text-7 {
  font-family: "Albert Sans";
  margin: 25px auto 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-3 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 232px;
    margin-left: 0;
    margin-right: 156px;
  }

  .u-section-3 .u-text-3 {
    width: 232px;
    margin-top: 70px;
    margin-right: 461px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -12px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 54px;
    margin-right: 241px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 61px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 565px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 84px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 100px;
  }
}